{% cache "menu" %}
    {% if menu is not defined %}
        {% set menu = this.buildMenu(app.request) %}
    {% endif %}

    <aside class="navbar navbar-vertical navbar-expand-lg" {{ attributes }}>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                    aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand navbar-brand-autodark">
                <a href="{{ path('main') }}">
                    {{ ux_icon('tabler:brand-tabler', {class: 'navbar-brand-image'}) }}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="sidebar-menu">
                <ul class="navbar-nav pt-lg-3">
                    {% for node in menu.children %}
                        {{ _self.addMenuItem(node) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>

    {% macro addMenuItem(node) %}
        {% set hasChildren = node.children != [] %}
        {% if hasChildren %}
            <li class="nav-item dropdown {{ node.value.isActive ? 'active' : '' }}">
                <a href="#navbar-{{ node.value.value }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   data-bs-auto-close="false" role="button" aria-expanded="false">
                    {% if node.value.hasIcon %}
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ ux_icon(node.value.icon, {class: 'icon'}) }}
                    </span>
                    {% endif %}
                    <span class="nav-link-title">
                    {{ node.value.label }}
                </span>
                </a>
                <div class="dropdown-menu">
                    {% for child in node.children %}
                        {% if child.children != [] %}
                            {{ _self.addMenuItem(child) }}
                        {% else %}
                            <a href="{{ child.value.url }}" class="dropdown-item">
                                {% if child.value.hasIcon %}
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    {{ ux_icon(child.value.icon, {class: 'icon'}) }}
                                </span>
                                {% endif %}
                                <span class="nav-link-title">
                                {{ child.value.label }}
                            </span>
                                {% if child.value.hasBadge %}
                                    {{ component('Badge', {label: child.value.badge.label, color: child.value.badge.color}) }}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        {% else %}
            <li class="nav-item {{ node.value.isActive ? 'active' : '' }}">
                <a href="{{ node.value.url }}" class="nav-link">
                    {% if node.value.hasIcon %}
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ ux_icon(node.value.icon, {class: 'icon'}) }}
                    </span>
                    {% endif %}
                    <span class="nav-link-title">
                    {{ node.value.label }}
                </span>
                </a>
            </li>
        {% endif %}
    {% endmacro %}
{% endcache %}
